html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
    background-image: url(/images/bg.png);
    background-repeat: round;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.mx-230 {
    margin-left: 230px;
    margin-right: 230px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #6E3B14;
    background-color: #C99240;
    border-color: #C99240 #C99240 #6E3B14;
}

.nav-tabs {
    border-bottom: 1px solid #6E3B14;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #6E3B14 #6E3B14 #6E3B14;
    isolation: isolate;
}

.nav-link:hover, .nav-link:focus {
    color: #6E3B14;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #6E3B14;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.bg-custom {
    background: rgb(198,149,77);
    background: linear-gradient(0deg, rgba(198,149,77,1) 0%, rgba(59,46,22,1) 96%, rgba(59,46,22,1) 100%);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}