html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
    background-image: url(/images/bg.png);
    background-repeat: round;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.mx-230 {
    margin-left: 230px;
    margin-right: 230px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #6e4602;
    background-color: #e29f2b;
    border-color: #e29f2b #e29f2b #6e4602;
}

.nav-tabs {
    border-bottom: 1px solid #6e4602;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #6e4602 #6e4602 #6e4602;
    isolation: isolate;
}

.nav-link:hover, .nav-link:focus {
    color: #6e4602;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #6e4602;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
