html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
    background-image: url(/images/bg.png);
    background-repeat: round;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.mx-230 {
    margin-left: 230px;
    margin-right: 230px;
}
